<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portada de Proyecto</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
        }
        .container {
            width: 80%;
            margin: auto;
            text-align: center;
            padding-top: 100px;
        }
        h1 {
            color: #333;
        }
        .image-container {
            margin-top: 50px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>¡Bienvenido a mi Proyecto!</h1>
        <div class="image-container">
            <!-- <img src="/img/gestion-de-proyectos-1.jpeg" alt="Descripción de la imagen"> -->
            
        </div>
    </div>
</body>
</html>